<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= blogs.title %></title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/blogData.css" >
  </head>
  <body>
    <%- include('./partials/header')%>
    <div class="container">
      <div class="blog-container">
        <!-- <a href="/blogs/<%#blogs.id%>/edit">Edit blog</a> -->
        <h1 class="blog-title text-center"><%= blogs.title %></h1>
        <p class="text-center"><%= blogs.formatDate %> | Author: <%= username %></p>
       
        <img
          src="<%= blogs.image %>"
          alt="<%= blogs.title %>"
          class="img-fluid d-block mx-auto"
        />

        <p class="blog-category text-center"><%= blogs.category %></p>
        <div class="blog-post"><%- blogs.post %></div>

        <% if(blogs.edited_at){ %>
        <p class="editdate">Last edited at: <%= blogs.editDate %></p>
        <% } %>
        <a href="/blogs" class="back-link"> Back to Blogs</a>
      </div>
    </div>
    <%- include ('./partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
