<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
       
body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
 
  align-items: center;
  height: 100vh;
  
}
.container{
  display: flex;
  justify-content: center;
  margin: 10px;
}

/* Form container */
form {
  background-color: #fff;
  padding: 18px;
  border-radius: 8px;
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

label {
  display: block;
  font-size: 16px;
  margin: 10px 0 5px;
  color: #333;
}

input, 
textarea, 
select {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical; /* Allow vertical resizing only */
  height: 150px; /* Default height */
}

.create-blog-button {
     
     margin:5px 0px;
     font-size: 16px;
     color: #fff;
     background-color: #007bff;
     border: none;
     border-radius: 5px;
     text-decoration: none;
     text-align: center;
     padding: 10px 20px;
     display: block;
   }
   .create-blog-button:hover {
     color: white;
     background-color: #0056b3; /* Darker shade for hover */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
   }
   .back-to-block-list{
        display: flex;
        justify-content: flex-end;
        text-decoration-line: none;
      }

    </style>
</head>
<body>
  <%- include('./partials/header')%>
  <div class="container">
<!-- this is edit page -->
    <form action="/blogs/edit/<%=blogs.id %>?_method=PUT" id="editBlogForm" method="POST" enctype="multipart/form-data">
      <h1>Edit Blog</h1>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" value="<%= blogs.title%>">
      
      <label for="category">Category</label>
      <select name="category" id="category">
            <option value="Nature">Nature</option>
            <option value="Travel">Travel</option>
            <option value="Technology">Technology</option>
            <option value="Politics">Politics</option>
      </select>
          
      <label for="image">Upload New Image (Leave blank to keep the current image)</label>
      <input type="file" id="image" name="image" >
          
      <label for="post">Post</label>
      <textarea id="post" name="post" ><%= blogs.post%></textarea>
          
      <button type="submit" class="create-blog-button">Submit</button>
      <a href="/blogs" class="back-to-block-list">Back to Blog List</a>
    </form>
        
  </div>
  <%- include('./partials/footer') %>
</body>
<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('post');
  document.getElementById("editBlogForm").addEventListener("submit", (event)=>{
    event.preventDefault();
    // alert("Blog edited successfully");
    Swal.fire({
            
            text: 'Blog edited successfully!',
            icon: 'success',
            confirmButtonText: 'OK'
        })
        .then((result) => {
            if (result.isConfirmed) {
                // Only submit the form after the user confirms
                event.target.submit();
            }
        });
    // event.target.submit();
  })

</script>
</html>