<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage User Permissions</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            color: #333;
        }

        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin: 40px auto;
            max-width: 800px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        table {
            width: 100%;
            margin-top: 20px;
        }

        table th, table td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        table th {
            background-color: #f5f9fc;
            color: rgb(16, 14, 14);
            text-align: left;
        }

        table tr:hover {
            background-color: #f1f1f1;
        }

        .create-blog-button {
            padding: 8px 18px;
            font-size: 16px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            margin-top: 10px;
            display: inline-block;
        }

        .create-blog-button:hover {
            background-color: #0056b3;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        select {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .container h2 {
            color: #333;
            margin-bottom: 20px;
        }
        .delete-icon{
            font-size: 20px;
            align-items: center;
        }
        .delete-icon:hover{
            color: #c00;
        }
        .userForm{
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <%- include('./partials/header')%>
    <div>
        <!-- <h1>Manage User Permissions</h1> -->
        <div class="container">
            <h2>Users</h2>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-active-tab" data-toggle="pill" href="#pills-active" role="tab" aria-controls="pills-active" aria-selected="true">Active Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-inactive-tab" data-toggle="pill" href="#pills-inactive" role="tab" aria-controls="pills-inactive" aria-selected="false">Inactive Users</a>
                </li>
            </ul>

            <table>
                <thead>
                    <tr>
                        <th>Userame</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   <% users.forEach(user => { %>
                
                        <tr class="user-row <%= user.status ? 'active': 'inactive' %>">
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td>
                                <form action="/seeUsers" method="POST" class="userForm">
                                    <input type="hidden" value="<%= user.id %>" name="userid">
                                    <select name="roleid">
                                       <% roles.forEach(role => { %>
                                            <option value="<%= role.id %>" <%= role.id === user.role_id ? 'selected' : '' %>>
                                                <%= role.role_name %>
                                            </option>
                                      <% }) %>
                                    </select>
                                    <button type="submit" class="create-blog-button">Change Role</button>
                                </form>
                            </td>
                            <% if( user.status){ %>

                                <td>
                                    
                                    <i class="fas fa-trash-alt delete-icon" onclick="confirmDelete('<%= user.id %>')"></i>
                                </td>
                            <% } %>
                            
                        </tr>
                   <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('./partials/footer')%>
</body>
<script>
   
    document.getElementById('pills-active-tab').addEventListener('click', function(){
        this.classList.add('active');
        document.querySelectorAll('.user-row').forEach((row)=>{
            if(!row.classList.contains('inactive')){
                row.style.display='';
                
            }
            else{
                row.style.display='none';
            }
        })
        document.getElementById('pills-inactive-tab').classList.remove('active');
    })

    document.getElementById('pills-inactive-tab').addEventListener('click', function(){
        this.classList.add('active');
        document.querySelectorAll('.user-row').forEach((row)=>{
            if(row.classList.contains('inactive')){
                row.style.display='';
                
            }
            else{
                row.style.display='none';
            }
        })
        document.getElementById('pills-active-tab').classList.remove('active');
    })

   document.querySelectorAll(".userForm").forEach(form=>{
    form.addEventListener("submit", (event)=>{
      event.preventDefault();
      Swal.fire({
          
          text: "Role changed successfully",
          icon: 'success',
          confirmButtonText: 'Okay'
        }) .then((result) => {
            if (result.isConfirmed) {
                // Only submit the form after the user confirms
                form.submit();
            }
        });
    })
   })

   function confirmDelete(userId){
    // event.preventDefault();
    Swal.fire({
        text: "Confirm delete the user?",
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes'
    }).then(async (result)=>{
        if(result.isConfirmed){
            const response= await fetch(`/users/delete/${userId}`, {
                method: 'POST'
            })
            const result= await response.json();
            if(result.success){
                Swal.fire({
                    text:result.message
                }).then(()=>{
                    location.reload();
                })

            }
            else{
                Swal.fire({
                    text:result.message
                });
            }
        }
    })
   
   }
    
</script>


</html>
